body {
    background-color: #333;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
}

.input-form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls{
    text-align: center;
}

#cfgscalevalue, #stepsvalue {
    display: inline-block; /* prevent jumping around when value changes */
    width: 4em;
}

#output-container {
    text-align: center;
}